.navigation-bar {
  position: fixed !important;
  height: 65px;
  width: 100%;
  z-index: 80;
  top: 0;
  max-width: 1920px;
  margin: auto;
  gap: 40px;
}
.navigation-bar.dark {
  background-color: rgba(7, 7, 7, 0.9);
  box-shadow: 1px 4px 10px black;
}
.logo0 {
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.col-cls {
  color: var(--theme);
}
.burger-icon {
  color: white;
  margin-inline: 20px;
  cursor: pointer;
}
.burger-icon:hover {
  color: var(--theme);
}
.logo {
  margin-inline: 0;
}

input {
  border: none;
  border-radius: 50px;
  background-color: rgba(71, 71, 71, 0.5);
  color: #fff;
}
.search-wrapper input:focus,
.floating-search-wrapper input:focus {
  border: none;
  /* Optionally, you can also remove the outline that appears by default */
  outline: none;
}

.search-all {
  position: relative;
  height: 40px;
  width: 50%;
  max-width: 400px;
}
.search-wrapper {
  position: relative;
  height: 40px;
  background: none;
  width: 100%;
  max-width: 400px;
}
.raam-one {
  position: relative;
  height: 40px;
  width: 100%;
  background: #2e312d;
  height: fit-content;
  cursor: pointer;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  max-width: 400px;
}
.innerP {
  border-bottom: 1px solid #504a4a;
  padding: 5px;
}

.vire {
  padding: 5px;
  display: flex;
  align-items: center;
  background: var(--theme);
  gap: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--grey-dark);
  justify-content: center;
}
.dotol {
  color: #c2ccbf;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.uoi {
  color: #b6afaf;
  font-size: 14px;
}
.doi {
  color: #fff;
  font-size: 14px;
}
.koadna {
  position: relative;
  height: 40px;
  height: 200px;
  background: #2e312d;
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
}
.innerP:hover .goi {
  color: var(--theme);
}
.innerP:hover .doi {
  color: var(--theme);
}
.innerP:hover {
  background: #444643;
}
.search-icon {
  position: absolute;
  right: 20px;
  top: 0px;
}
.filter-icon {
  right: 40px;
}
.search-text {
  height: 100%;
  width: 100%;
  padding-inline: 20px;
}
.search-icons {
  position: absolute;

  height: 100%;
  cursor: pointer;
}

.social-links-wrapper {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.social-links-wrapper > span {
  padding: 5px;
  border-radius: 50%;
}
.social-links-wrapper span a {
  text-decoration: none;
  color: white;
  line-height: 2px;
}
.nav-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav-actions > * {
  text-align: center;
  cursor: pointer;
}

.nav-actions svg {
  color: var(--theme);
  margin-left: 33%;
}
.nav-actions *:hover {
  color: var(--theme);
}
.nav-actions a {
  color: white;
  text-decoration: none;
}
.nav-actions p {
  margin: 0;
  font-size: 11px;
}
.righty {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.user-profile-nots {
  gap: 10px;
  color: white;
  cursor: pointer;
}
.user-profile-nots > * {
  cursor: pointer;
}
.user-profile-nots > *:hover {
  color: var(--theme);
}
.profile-icon {
  height: 36.5px;
  border-radius: 50%;
}
.floating-search-wrapper input {
  color: black;
  border: none;
  background-color: var(--theme);
  padding: 10px 20px;
  border-radius: 30px;
}
.Lognn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #2e312d;
  padding: 5px 10px;
  background: var(--theme);
  border-radius: 5px;
}
.profile-ico {
  height: 36.5px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  .floating-search-wrapper {
    display: none;
  }
  .raam {
    display: none;
  }
  .loadna {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .search-wrapper {
    display: none;
  }
  .search-all {
    display: none;
  }
  .raam-one {
    display: none;
  }
  .koadna {
    display: none;
  }
  .floating-search-wrapper {
    position: fixed;
    left: calc(50% - 300px);
    z-index: 900;
    width: 100%;
    max-width: 600px;
    top: 60px;
  }
  .raam {
    position: fixed;
    left: calc(50% - 300px);
    z-index: 1000;
    width: 100%;
    background: #2e312d;
    height: fit-content;
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    max-width: 600px;
    top: 100px;
  }
  .loadna {
    position: fixed;
    z-index: 1000;
    height: 200px;
    background: #2e312d;
    top: 100px;
    left: calc(50% - 300px);
    width: 100%;
    border-radius: 20px;
    max-width: 600px;
  }
}

@media screen and (max-width: 1000px) {
  .navigation-bar .social-links-wrapper {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  .nav-actions {
    display: none;
  }
  .floating-search-wrapper {
    max-width: 100%;
    left: 0;
  }
  .raam {
    max-width: 100%;
    left: 0;
  }
  .loadna {
    max-width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 700px) {
  .navigation-bar {
    height: 50px;

  }

  .logo {
    height: 40px;
    margin-inline: 0;
    margin-top: 10px;
  }
  .floating-search-wrapper {
    top: 50px;
  }
  .raam {
    top: 100px;
  }
  .loadna {
    top: 100px;
  }
}
